.menuSheetsProductos {
  text-align: center;
  padding: 2rem 1rem;
  background-color: var(--color-fondo);
}

.menuSheetsProductos-titulo {
  font-size: 2rem;
  font-weight: bold;
  color: var(--color-primario);
  margin-bottom: 1.5rem;
  font-family: 'Baloo 2', sans-serif;
}

.menuSheetsProductos-controles {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.menuSheetsProductos-filtros {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
  justify-content: center;
}

.menuSheetsProductos-filtros button {
  min-width: 140px;
  padding: 0.6rem 0;
  border: 2px solid var(--color-primario);
  background: var(--color-secundario);
  color: var(--color-primario);
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease;
  text-align: center;
}

.menuSheetsProductos-filtros button:hover {
  background: var(--color-primario);
  color: #fff;
}

.menuSheetsProductos-busqueda {
  width: 100%;
  max-width: 400px;
  padding: 0.6rem 1rem;
  border: 2px solid var(--color-primario);
  border-radius: 8px;
  font-size: 1rem;
}

.menuSheetsProductos-cards {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  border-top: 2px solid var(--color-primario);
}

.menuSheetsProductos-card {
  background: var(--color-fondo);
  border: 2px solid #ddd;
  border-radius: 12px;
  width: 220px;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  margin-top: 1rem;
}

.menuSheetsProductos-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 12px rgba(0,0,0,0.15);
}



.menuSheetsProductos-imagen img {
  max-width: 100%;            /* que no se pase del ancho */
  max-height: 100%;           /* que no se pase del alto */
  object-fit: contain;        /* mantiene proporción sin recortar */
  display: block;
  border-radius: 8px;
  margin-bottom: .5rem;
}

.menuSheetsProductos-imagen {
  display: flex;              /* activa flexbox */
  justify-content: center;    /* centra horizontalmente */
  align-items: center;        /* centra verticalmente */
  width: 100%;
  height: 200px;              /* altura fija para uniformidad */
  overflow: hidden;
  border-radius: 8px;
}

.menuSheetsProductos-nombre {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: #333;
  font-weight: bold;
}

.menuSheetsProductos-descripcion {
  font-size: 0.9rem;
  color: #555;
  margin-bottom: 0.5rem;
}

.menuSheetsProductos-precio {
  font-weight: bold;
  color: var(--color-primario);
  font-size: 1.2rem;
}

/* 📱 Responsivo */
@media (max-width: 768px) {
  .menuSheetsProductos-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    justify-items: center;
  }

  .menuSheetsProductos-card {
    max-width: 10rem;
  }

  .menuSheetsProductos-busqueda {
    width: 80%;
    max-width: none;
  }
}
